{
  "info": {
    "title": "Hubstaff V2 API",
    "description": "# Documentation\n\nWelcome to the Hubstaff API v2. This API provides access to time tracking, project management, and team data.\n\n# Webhooks\n\nWebhooks allow you to receive real-time notifications when events occur in your Hubstaff organization.\n\n## Quick Start\n\n1. Create a webhook with your endpoint URL\n2. Respond to the verification request\n3. Activate the webhook\n4. Start receiving events\n\n## Creating a Webhook\n\n```bash\nPOST /v2/organizations/{org_id}/webhooks\n```\n\n```json\n{\n  \"events\": [\"*\"],\n  \"target_url\": \"https://example.com/webhook\"\n}\n```\n\nThe response includes the webhook `id` needed for activation.\n\n## Endpoint Verification\n\nAfter creation, we send a POST request to your URL with an `X-Hook-Secret` header. Respond with:\n- Status `200`\n- Echo the `X-Hook-Secret` header back\n\n```javascript\n// Node.js\napp.post('/webhook', (req, res) => {\n  const secret = req.headers['x-hook-secret'];\n  if (secret) {\n    res.setHeader('X-Hook-Secret', secret);\n    return res.sendStatus(200);\n  }\n  // Handle events...\n});\n```\n\n```python\n# Python\n@app.route('/webhook', methods=['POST'])\ndef webhook():\n    secret = request.headers.get('X-Hook-Secret')\n    if secret:\n        response = make_response('OK', 200)\n        response.headers['X-Hook-Secret'] = secret\n        return response\n    # Handle events...\n```\n\n```ruby\n# Ruby\npost '/webhook' do\n  secret = request.env['HTTP_X_HOOK_SECRET']\n  if secret\n    response.headers['X-Hook-Secret'] = secret\n    return status 200\n  end\n  # Handle events...\nend\n```\n\nSave the secret for signature verification.\n\n## Activation\n\n```bash\nPOST /v2/webhooks/{webhook_id}/activate\nX-Hook-Secret: {secret_from_verification}\n```\n\n## Events\n\n| Event | Description                    |\n|-------|--------------------------------|\n| `*` | All events                     |\n| `timer.start` | Time tracking started          |\n| `timer.stop` | Time tracking stopped          |\n| `project.create` | Project created                |\n| `client.create` | Client created                 |\n| `task.create` | Task created                   |\n| `task.assign` | Task assigned                  |\n| `task.unassign` | Task unassigned                |\n| `schedule.create` | Schedule created               |\n| `schedule.update` | Schedule updated               |\n| `schedule.delete` | Schedule deleted               |\n| `shift.ontime` | Shift started on time          |\n| `shift.early` | Shift started early            |\n| `shift.late` | Shift started late             |\n| `shift.abandoned` | Shift abandoned                |\n| `shift.missed` | Shift missed                   |\n| `work_break.create` | Break started                  |\n| `activity.create` | Activity created (on request)  |\n| `activity.update` | Activity updated (on request)             |\n| `activity.delete` | Activity deleted (on request)             |\n| `idle_time.start` | Idle time started (beta)       |\n| `billing.occupied_seats` | Occupied seats snapshot |\n\n## Occupied Seats Event\n\nFor `billing.occupied_seats`:\n- `occupied_seats` represents the latest available occupied-seat value up to the previous UTC day when the event is sent.\n- The value is snapshot-based (not recalculated live at delivery time).\n- `occupied_seats` is different from purchased/paid seat quota.\n\n## Payload Format\n\n```json\n{\n  \"id\": \"69d37f9f-483e-4be1-92c3-b2377203a8cd\",\n  \"event\": \"timer.start\",\n  \"created_at\": \"2024-06-20T14:10:55.196912\",\n  \"payload\": {\n    \"organization_id\": 13,\n    \"project_id\": 841201,\n    \"project_name\": \"DevSecOps\",\n    \"task_id\": null,\n    \"task_summary\": null,\n    \"user_id\": 651956,\n    \"user_name\": \"Alex Yarotsky\",\n    \"tracking_started_at\": \"2024-06-20T14:10:46.235Z\"\n  }\n}\n```\n\n## Signature Verification\n\nAll requests include `X-Hook-Signature` (HMAC-SHA256). Always verify signatures:\n\n```javascript\n// Node.js\nconst crypto = require('crypto');\n\nfunction verify(payload, signature, secret) {\n  const expected = crypto.createHmac('sha256', secret).update(payload).digest('hex');\n  return crypto.timingSafeEqual(Buffer.from(expected), Buffer.from(signature));\n}\n```\n\n```python\n# Python\nimport hmac, hashlib\n\ndef verify(payload, signature, secret):\n    expected = hmac.new(secret.encode(), payload, hashlib.sha256).hexdigest()\n    return hmac.compare_digest(expected, signature)\n```\n\n```ruby\n# Ruby\ndef verify(payload, signature, secret)\n  expected = OpenSSL::HMAC.hexdigest('sha256', secret, payload)\n  Rack::Utils.secure_compare(expected, signature)\nend\n```\n\n## Deleting a Webhook\n\n```bash\nDELETE /v2/webhooks/{webhook_id}\n```\n",
    "contact": {
      "email": "api@hubstaff.com"
    },
    "version": "2.0"
  },
  "swagger": "2.0",
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "oauth2": {
      "type": "oauth2",
      "description": "Hubstaff Account OpenID Connect Authentication",
      "flow": "accessCode",
      "x-nonce": true,
      "authorizationUrl": "https://account.hubstaff.com/authorizations/new",
      "tokenUrl": "https://account.hubstaff.com/access_tokens",
      "scopes": {
        "hubstaff:write": "Write only access to the Hubstaff API",
        "hubstaff:read": "Read only access to the Hubstaff API"
      }
    }
  },
  "security": [
    {
      "oauth2": [
        "hubstaff:read",
        "hubstaff:write"
      ]
    }
  ],
  "host": "api.hubstaff.com",
  "schemes": [
    "https"
  ],
  "x-tagGroups": [
    {
      "name": "Endpoints",
      "tags": [
        "activities",
        "attendance_schedules",
        "attendance_shifts",
        "budgets",
        "client_invoices",
        "clients",
        "global_todos",
        "holidays",
        "integrations",
        "invites",
        "job_site_visits",
        "job_sites",
        "limits",
        "locations",
        "members",
        "notes",
        "organizations",
        "projects",
        "rates",
        "screenshots",
        "smart_notification_rules",
        "smart_notifications",
        "tasks",
        "team_invoices",
        "team_payments",
        "teams",
        "time_edit_logs",
        "time_entries",
        "time_off_balances",
        "time_off_policies",
        "time_off_requests",
        "timesheets",
        "tool_usages",
        "unusual_activities",
        "users",
        "webhooks"
      ]
    },
    {
      "name": "Reference",
      "tags": [
        "errors"
      ]
    }
  ],
  "tags": [
    {
      "name": "activities",
      "description": "Get tracked keyboard, mouse, and overall activity levels"
    },
    {
      "name": "attendance_schedules",
      "description": "Define work schedules and expected attendance for team members"
    },
    {
      "name": "attendance_shifts",
      "description": "Monitor shift attendance, punctuality, and missed shifts"
    },
    {
      "name": "budgets",
      "description": "View project budget history and spending data"
    },
    {
      "name": "client_invoices",
      "description": "View invoices generated for clients"
    },
    {
      "name": "clients",
      "description": "Manage client accounts and associate them with projects"
    },
    {
      "name": "global_todos",
      "description": "Manage global to-dos"
    },
    {
      "name": "holidays",
      "description": "View company holidays and non-working days"
    },
    {
      "name": "integrations",
      "description": "View connected third-party tools and services"
    },
    {
      "name": "invites",
      "description": "Send and manage team member invitations"
    },
    {
      "name": "job_site_visits",
      "description": "Track visits to physical job site locations"
    },
    {
      "name": "job_sites",
      "description": "Define physical locations for field work tracking"
    },
    {
      "name": "limits",
      "description": "View daily and weekly hour limits for users"
    },
    {
      "name": "locations",
      "description": "GPS location data captured during time tracking"
    },
    {
      "name": "members",
      "description": "View members and add new members"
    },
    {
      "name": "notes",
      "description": "Add notes and comments to time entries"
    },
    {
      "name": "organizations",
      "description": "Manage organization settings and structure"
    },
    {
      "name": "projects",
      "description": "Create and manage projects for time tracking"
    },
    {
      "name": "rates",
      "description": "View hourly pay and bill rates"
    },
    {
      "name": "screenshots",
      "description": "Access screenshots captured during work sessions"
    },
    {
      "name": "smart_notification_rules",
      "description": "Configure automated notification triggers"
    },
    {
      "name": "smart_notifications",
      "description": "View triggered smart notifications"
    },
    {
      "name": "tasks",
      "description": "Manage tasks within projects for detailed tracking"
    },
    {
      "name": "team_invoices",
      "description": "View invoices for team payments"
    },
    {
      "name": "team_payments",
      "description": "View payment records for team members"
    },
    {
      "name": "teams",
      "description": "Organize members into teams within an organization"
    },
    {
      "name": "time_edit_logs",
      "description": "Audit trail of manual time entry modifications"
    },
    {
      "name": "time_entries",
      "description": "Create manual time entries"
    },
    {
      "name": "time_off_balances",
      "description": "Manage time off balances"
    },
    {
      "name": "time_off_policies",
      "description": "Manage time off policies"
    },
    {
      "name": "time_off_requests",
      "description": "Manage time off requests"
    },
    {
      "name": "timesheets",
      "description": "Weekly timesheet summaries for approval workflows"
    },
    {
      "name": "tool_usages",
      "description": "View application and tool usage data"
    },
    {
      "name": "unusual_activities",
      "description": "Flagged activities that may require review"
    },
    {
      "name": "users",
      "description": "View user accounts and profile information"
    },
    {
      "name": "webhooks",
      "description": "Subscribe to real-time event notifications via HTTP callbacks"
    },
    {
      "name": "errors",
      "description": "API error codes and troubleshooting guide"
    }
  ],
  "paths": {
    "/v2/attendance_schedules/{attendance_schedule_id}": {
      "put": {
        "summary": "Update attendance schedule",
        "description": "Updates an attendance schedule.\n\nReturns the updated attendance schedule.\n\nOnly pass in the fields you want to change. Use add_excluded_dates/remove_excluded_dates to modify exclusions incrementally, or excluded_dates to replace them entirely.\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "attendance_schedule_id",
            "description": "Attendance schedule ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putV2AttendanceSchedulesAttendanceScheduleId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An attendance schedule",
            "schema": {
              "type": "object",
              "properties": {
                "attendance_schedule": {
                  "$ref": "#/definitions/AttendanceSchedule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "attendance_schedules"
        ],
        "operationId": "putV2AttendanceSchedulesAttendanceScheduleId"
      }
    },
    "/v2/budget_histories/{budget_history_id}": {
      "get": {
        "summary": "Get budget history",
        "description": "Returns the budget history with the given ID.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "budget_history_id",
            "description": "Budget History ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A budget history",
            "schema": {
              "type": "object",
              "properties": {
                "budget_history": {
                  "$ref": "#/definitions/BudgetHistory"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "budgets"
        ],
        "operationId": "getV2BudgetHistoriesBudgetHistoryId"
      }
    },
    "/v2/clients/{client_id}": {
      "get": {
        "summary": "Get client",
        "description": "Returns the client with the given ID.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "client_id",
            "description": "Client ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A client",
            "schema": {
              "type": "object",
              "properties": {
                "client": {
                  "$ref": "#/definitions/Client"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "clients"
        ],
        "operationId": "getV2ClientsClientId"
      },
      "put": {
        "summary": "Update client",
        "description": "Updates a client.\n\nReturns the updated client.\n\nOnly pass in the fields you want to change. To unset the budget, specify null as the value. To update the budget, you must specify the complete budget configuration. To clear invoice_notes or net_terms (to use organization defaults), specify null as the value.\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "client_id",
            "description": "Client ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putV2ClientsClientId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A client",
            "schema": {
              "type": "object",
              "properties": {
                "client": {
                  "$ref": "#/definitions/Client"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "clients"
        ],
        "operationId": "putV2ClientsClientId"
      }
    },
    "/v2/clients/{client_id}/update_metadata": {
      "put": {
        "summary": "Update client metadata",
        "description": "Updates metadata on the client.\n\nReturns the updated client.\n\nOnly specify the metadata keys you want to change. If the metadata key does not exist, it will be created. To remove a key, specify null as the value.\n\nKey requirements:\n- 2-30 characters\n- Lowercase letters, numbers, and underscores only\n\nValue requirements:\n- Valid UTF-8 string\n- Maximum 200 characters\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "client_id",
            "description": "Client ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putV2ClientsClientIdUpdateMetadata"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A client",
            "schema": {
              "type": "object",
              "properties": {
                "client": {
                  "$ref": "#/definitions/Client"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "clients"
        ],
        "operationId": "putV2ClientsClientIdUpdateMetadata"
      }
    },
    "/v2/clients/{client_id}/budget_histories": {
      "get": {
        "summary": "List client budget histories",
        "description": "Returns budget configuration history (changes to budget settings over time) for the given client.\n\n\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "client_id",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "query",
            "name": "page_start_id",
            "description": "The page start ID.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "required": false
          },
          {
            "in": "query",
            "name": "page_limit",
            "description": "The default page size",
            "type": "integer",
            "format": "int32",
            "default": null,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of budget histories",
            "schema": {
              "type": "object",
              "properties": {
                "budget_histories": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/BudgetHistory"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "budgets"
        ],
        "operationId": "getV2ClientsClientIdBudgetHistories"
      }
    },
    "/v2/error_codes": {
      "get": {
        "summary": "List all error codes",
        "description": "Returns all available error codes with their descriptions.\nUse these codes for programmatic error handling and i18n support.\n\nError code ranges:\n- 10000-10999: Authentication & Authorization\n- 11000-11999: Validation\n- 12000-12999: Resource\n- 13000-13999: Rate Limiting\n- 14000-14999: Time Entries / Activities\n- 15000-15999: System\n",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List of error codes"
          }
        },
        "tags": [
          "errors"
        ],
        "operationId": "getV2ErrorCodes"
      }
    },
    "/v2/insights/smart_notification_rules/{rule_id}": {
      "get": {
        "summary": "Get smart notification rule",
        "description": "Returns the smart notification rule with the given ID.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "rule_id",
            "description": "smart notification rule ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A smart notification rule",
            "schema": {
              "type": "object",
              "properties": {
                "smart_notification_rule": {
                  "$ref": "#/definitions/SmartNotificationRule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "smart_notification_rules"
        ],
        "operationId": "getV2InsightsSmartNotificationRulesRuleId"
      },
      "put": {
        "summary": "Update smart notification rule",
        "description": "Updates a smart notification rule.\n\nReturns the updated smart notification rule.\n\nOnly pass in the fields you want to change.\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "rule_id",
            "description": "smart notification rule ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putV2InsightsSmartNotificationRulesRuleId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A smart notification rule",
            "schema": {
              "type": "object",
              "properties": {
                "smart_notification_rule": {
                  "$ref": "#/definitions/SmartNotificationRule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "smart_notification_rules"
        ],
        "operationId": "putV2InsightsSmartNotificationRulesRuleId"
      },
      "delete": {
        "summary": "Delete smart notification rule",
        "description": "Deletes a smart notification rule.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "rule_id",
            "description": "smart notification rule ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted successfully"
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "smart_notification_rules"
        ],
        "operationId": "deleteV2InsightsSmartNotificationRulesRuleId"
      }
    },
    "/v2/insights/smart_notification_rules/{rule_id}/toggle_status": {
      "patch": {
        "summary": "Toggle smart notification rule",
        "description": "Sets the status of a smart notification rule to either enabled or disabled.\nThe 'enabled' parameter determines the new status of the rule.\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "rule_id",
            "description": "smart notification rule ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchV2InsightsSmartNotificationRulesRuleIdToggleStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A smart notification rule",
            "schema": {
              "type": "object",
              "properties": {
                "smart_notification_rule": {
                  "$ref": "#/definitions/SmartNotificationRule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "smart_notification_rules"
        ],
        "operationId": "patchV2InsightsSmartNotificationRulesRuleIdToggleStatus"
      }
    },
    "/v2/integrations/{integration_id}/project_links": {
      "get": {
        "summary": "List integration integration project links",
        "description": "Returns a collection of active project links (mappings between Hubstaff projects and integration projects).\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "integration_id",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "query",
            "name": "page_start_id",
            "description": "The page start ID.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "required": false
          },
          {
            "in": "query",
            "name": "page_limit",
            "description": "The default page size",
            "type": "integer",
            "format": "int32",
            "default": null,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "a list of project links",
            "schema": {
              "type": "object",
              "properties": {
                "project_links": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/IntegrationProjectLink"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "integrations"
        ],
        "operationId": "getV2IntegrationsIntegrationIdProjectLinks"
      }
    },
    "/v2/integrations/{integration_id}/user_links": {
      "get": {
        "summary": "List integration integration user links",
        "description": "Returns a collection of active user links (mappings between Hubstaff users and integration users).\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "integration_id",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "query",
            "name": "page_start_id",
            "description": "The page start ID.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "required": false
          },
          {
            "in": "query",
            "name": "page_limit",
            "description": "The default page size",
            "type": "integer",
            "format": "int32",
            "default": null,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "a list of user links",
            "schema": {
              "type": "object",
              "properties": {
                "user_links": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/IntegrationUserLink"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "integrations"
        ],
        "operationId": "getV2IntegrationsIntegrationIdUserLinks"
      }
    },
    "/v2/integrations/{integration_id}/tasks": {
      "get": {
        "summary": "List integration tasks",
        "description": "Returns a collection of tasks (to-dos) for the given integration.\n\nResults can be filtered by status[] (active/completed/deleted), user_ids[], project_ids[], and global_todo_ids[].\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "integration_id",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "query",
            "name": "page_start_id",
            "description": "The page start ID.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "required": false
          },
          {
            "in": "query",
            "name": "page_limit",
            "description": "The default page size",
            "type": "integer",
            "format": "int32",
            "default": null,
            "required": false
          },
          {
            "in": "query",
            "name": "status",
            "description": "A status or list of statuses to filter",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "active",
                "completed",
                "deleted",
                "archived",
                "archived_native_active",
                "archived_native_completed",
                "archived_native_deleted"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "user_ids",
            "description": "List of user IDs",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "project_ids",
            "description": "List of project IDs",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "include",
            "description": "Specify related data to side load.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "users",
                "projects"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "remote_ids",
            "description": "List of remote_ids to search against remote_id or alternate_remote_id",
            "type": "array",
            "items": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of tasks",
            "schema": {
              "type": "object",
              "properties": {
                "tasks": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Task"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "tasks"
        ],
        "operationId": "getV2IntegrationsIntegrationIdTasks"
      }
    },
    "/v2/invites/{invite_id}": {
      "get": {
        "summary": "Get invite",
        "description": "Returns the invite with the given ID.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invite_id",
            "description": "Invite ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An invite",
            "schema": {
              "type": "object",
              "properties": {
                "invite": {
                  "$ref": "#/definitions/Invite"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "invites"
        ],
        "operationId": "getV2InvitesInviteId"
      },
      "put": {
        "summary": "Update invite",
        "description": "Updates an invite.\n\nReturns the updated invite.\n\nOnly pass in the fields you want to change. To clear project_ids or pay_rate, send the value 'none'.\n\nAvailable roles:\n- organization_manager - Invited as an organization manager\n- project_manager - Invited as a project manager\n- project_user - Invited as a project user\n- project_viewer - Invited as a project viewer\n\nIf no project_ids are set, any project_* role will default to project_viewer (no projects assigned).\n\nNote: Accepted invites cannot be updated.\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invite_id",
            "description": "Invite ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "putV2InvitesInviteId",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putV2InvitesInviteId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An invite",
            "schema": {
              "type": "object",
              "properties": {
                "invite": {
                  "$ref": "#/definitions/Invite"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "invites"
        ],
        "operationId": "putV2InvitesInviteId"
      },
      "delete": {
        "summary": "Delete invite",
        "description": "Deletes an invite.\n\nNote: Accepted invites cannot be deleted.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invite_id",
            "description": "Invite ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Deletion successful",
            "schema": {
              "type": "object",
              "properties": {
                "invite": {
                  "$ref": "#/definitions/Invite"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "invites"
        ],
        "operationId": "deleteV2InvitesInviteId"
      }
    },
    "/v2/job_sites/{job_site_id}": {
      "get": {
        "summary": "Get job site",
        "description": "Returns the job site with the given ID.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "job_site_id",
            "description": "Job site ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A job site",
            "schema": {
              "type": "object",
              "properties": {
                "job_site": {
                  "$ref": "#/definitions/JobSite"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "job_sites"
        ],
        "operationId": "getV2JobSitesJobSiteId"
      },
      "put": {
        "summary": "Update job site",
        "description": "Updates a job site.\n\nReturns the updated job site.\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "job_site_id",
            "description": "Job site ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putV2JobSitesJobSiteId"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A job site",
            "schema": {
              "type": "object",
              "properties": {
                "job_site": {
                  "$ref": "#/definitions/JobSite"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "job_sites"
        ],
        "operationId": "putV2JobSitesJobSiteId"
      }
    },
    "/v2/job_sites/{job_site_id}/update_rules": {
      "put": {
        "summary": "Update job site rules",
        "description": "Updates rules on a job site.\n\nReturns the updated job site.\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "job_site_id",
            "description": "Job site ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putV2JobSitesJobSiteIdUpdateRules"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A job site",
            "schema": {
              "type": "object",
              "properties": {
                "job_site": {
                  "$ref": "#/definitions/JobSite"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "job_sites"
        ],
        "operationId": "putV2JobSitesJobSiteIdUpdateRules"
      }
    },
    "/v2/job_sites/{job_site_id}/add_rules": {
      "put": {
        "summary": "Add job site rules",
        "description": "Adds new rules to a job site.\n\nReturns the updated job site.\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "job_site_id",
            "description": "Job site ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putV2JobSitesJobSiteIdAddRules"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A job site",
            "schema": {
              "type": "object",
              "properties": {
                "job_site": {
                  "$ref": "#/definitions/JobSite"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "job_sites"
        ],
        "operationId": "putV2JobSitesJobSiteIdAddRules"
      }
    },
    "/v2/job_sites/{job_site_id}/remove_rules": {
      "put": {
        "summary": "Remove job site rules",
        "description": "Removes rules from a job site.\n\nReturns the updated job site.\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "job_site_id",
            "description": "Job site ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putV2JobSitesJobSiteIdRemoveRules"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "A job site",
            "schema": {
              "type": "object",
              "properties": {
                "job_site": {
                  "$ref": "#/definitions/JobSite"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "job_sites"
        ],
        "operationId": "putV2JobSitesJobSiteIdRemoveRules"
      }
    },
    "/v2/limit_histories/{limit_history_id}": {
      "get": {
        "summary": "Get limit history",
        "description": "Returns the limit history with the given ID.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "limit_history_id",
            "description": "Limit History ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A limit history",
            "schema": {
              "type": "object",
              "properties": {
                "limit_history": {
                  "$ref": "#/definitions/LimitHistory"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "limits"
        ],
        "operationId": "getV2LimitHistoriesLimitHistoryId"
      }
    },
    "/v2/notes/{note_id}": {
      "get": {
        "summary": "Get note",
        "description": "Returns the note with the given ID.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "note_id",
            "description": "Note ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "A note",
            "schema": {
              "type": "object",
              "properties": {
                "note": {
                  "$ref": "#/definitions/Note"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "notes"
        ],
        "operationId": "getV2NotesNoteId"
      }
    },
    "/v2/organizations": {
      "post": {
        "summary": "Create organization",
        "description": "Creates a new organization.\n\nReturns the created organization.\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "postV2Organizations",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postV2Organizations"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An organization",
            "schema": {
              "type": "object",
              "properties": {
                "organization": {
                  "$ref": "#/definitions/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "organizations"
        ],
        "operationId": "postV2Organizations"
      },
      "get": {
        "summary": "List organizations",
        "description": "Returns a collection of organizations the authenticated user is an active member of.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "page_start_id",
            "description": "The page start ID.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "required": false
          },
          {
            "in": "query",
            "name": "page_limit",
            "description": "The default page size",
            "type": "integer",
            "format": "int32",
            "default": null,
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of organizations",
            "schema": {
              "type": "object",
              "properties": {
                "organizations": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Organization"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "organizations"
        ],
        "operationId": "getV2Organizations"
      }
    },
    "/v2/organizations/{organization_id}": {
      "get": {
        "summary": "Get organization",
        "description": "Returns the organization with the given ID.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "description": "Organization ID",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "An organization",
            "schema": {
              "type": "object",
              "properties": {
                "organization": {
                  "$ref": "#/definitions/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "organizations"
        ],
        "operationId": "getV2OrganizationsOrganizationId"
      }
    },
    "/v2/organizations/{organization_id}/update_members": {
      "put": {
        "summary": "Update organization members",
        "description": "Updates organization members.\n\nReturns {success: true} on success.\n\nOnly pass in the members you want to change.\n\nAvailable roles:\n- user - Member role determined by project membership\n- manager - Organization manager\n- owner - Organization owner\n- remove - Removes user from organization (and all projects/teams)\n\nLimits: Specify full limits config. Missing limits will be removed. Empty \"limits\" removes all limits.\n\nProjects: Specify project memberships to change. Available project roles: viewer, user, manager, remove.\n\nMetadata: Only specify keys to change. Non-existent keys are created. Use null to remove a key.\n\nKey requirements:\n- 2-30 characters\n- Lowercase letters, numbers, and underscores only\n\nValue requirements:\n- Valid UTF-8 string\n- Maximum 200 characters\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "description": "Organization ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putV2OrganizationsOrganizationIdUpdateMembers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated successfully"
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "members"
        ],
        "operationId": "putV2OrganizationsOrganizationIdUpdateMembers"
      }
    },
    "/v2/organizations/{organization_id}/update_metadata": {
      "put": {
        "summary": "Update organization metadata",
        "description": "Updates metadata on the organization.\n\nReturns the updated organization.\n\nOnly specify the metadata keys you want to change. If the metadata key does not exist, it will be created. To remove a key, specify null as the value.\n\nKey requirements:\n- 2-30 characters\n- Lowercase letters, numbers, and underscores only\n\nValue requirements:\n- Valid UTF-8 string\n- Maximum 200 characters\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "description": "Organization ID",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putV2OrganizationsOrganizationIdUpdateMetadata"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An organization",
            "schema": {
              "type": "object",
              "properties": {
                "organization": {
                  "$ref": "#/definitions/Organization"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "organizations"
        ],
        "operationId": "putV2OrganizationsOrganizationIdUpdateMetadata"
      }
    },
    "/v2/organizations/{organization_id}/activities": {
      "get": {
        "summary": "List organization activities",
        "description": "Returns a collection of activities (10-minute time blocks) for the given organization.\n\nResults can be filtered by user, task, project, and time range (time_slot[start], time_slot[stop]).\n\nFor aggregated daily data, use the daily_activities endpoint instead.\n\nNote: Data may be delayed up to 20 minutes.\nNote: Date range limit is 7 days. Earliest date is 6 months ago.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "query",
            "name": "page_start_id",
            "description": "The page start ID.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "required": false
          },
          {
            "in": "query",
            "name": "page_limit",
            "description": "The default page size",
            "type": "integer",
            "format": "int32",
            "default": null,
            "required": false
          },
          {
            "in": "query",
            "name": "time_slot[start]",
            "description": "Start time (ISO 8601)",
            "type": "string",
            "format": "date-time",
            "required": true
          },
          {
            "in": "query",
            "name": "time_slot[stop]",
            "description": "Stop time (ISO 8601, Exclusive)",
            "type": "string",
            "format": "date-time",
            "required": true
          },
          {
            "in": "query",
            "name": "user_ids",
            "description": "List of user IDs",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "task_ids",
            "description": "List of task IDs",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "global_todo_ids",
            "description": "List of global todo IDs",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "project_ids",
            "description": "List of project IDs",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "include",
            "description": "Specify related data to side load.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "users",
                "projects",
                "tasks"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "time_zone",
            "description": "The time zone name for the activity",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of activities",
            "schema": {
              "type": "object",
              "properties": {
                "activities": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Activity"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "activities"
        ],
        "operationId": "getV2OrganizationsOrganizationIdActivities"
      }
    },
    "/v2/organizations/{organization_id}/activities/updates": {
      "get": {
        "summary": "List organization activities updates",
        "description": "Returns activities that were updated within the given time range. Useful for syncing changes.\n\nResults can be filtered by updated[start]/[stop], user_ids[], task_ids[], global_todo_ids[], and project_ids[].\n\nNote: Data may be delayed up to 20 minutes. Date range limit is 7 days. Earliest date is 45 days ago.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "query",
            "name": "page_start_id",
            "description": "The page start ID.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "required": false
          },
          {
            "in": "query",
            "name": "page_limit",
            "description": "The default page size",
            "type": "integer",
            "format": "int32",
            "default": null,
            "required": false
          },
          {
            "in": "query",
            "name": "updated[start]",
            "description": "Start time (ISO 8601)",
            "type": "string",
            "format": "date-time",
            "required": true
          },
          {
            "in": "query",
            "name": "updated[stop]",
            "description": "Stop time (ISO 8601)",
            "type": "string",
            "format": "date-time",
            "required": true
          },
          {
            "in": "query",
            "name": "user_ids",
            "description": "List of user IDs",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "task_ids",
            "description": "List of task IDs",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "global_todo_ids",
            "description": "List of global todo IDs",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "project_ids",
            "description": "List of project IDs",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "include",
            "description": "Specify related data to side load.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "users",
                "projects",
                "tasks"
              ]
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of activities",
            "schema": {
              "type": "object",
              "properties": {
                "activities": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Activity"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "activities"
        ],
        "operationId": "getV2OrganizationsOrganizationIdActivitiesUpdates"
      }
    },
    "/v2/organizations/{organization_id}/attendance_schedules": {
      "get": {
        "summary": "List organization attendance schedules",
        "description": "Returns a collection of attendance schedules (expected work shifts) for the given organization.\n\nUse date[start] and date[stop] to filter schedules that cover the specified date range. Repeating schedules are included if any occurrence falls within the range.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "query",
            "name": "page_start_id",
            "description": "The page start ID.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "required": false
          },
          {
            "in": "query",
            "name": "page_limit",
            "description": "The default page size",
            "type": "integer",
            "format": "int32",
            "default": null,
            "required": false
          },
          {
            "in": "query",
            "name": "date[start]",
            "description": "Start date (ISO 8601)",
            "type": "string",
            "format": "date",
            "required": true
          },
          {
            "in": "query",
            "name": "date[stop]",
            "description": "Stop date (ISO 8601, Inclusive)",
            "type": "string",
            "format": "date",
            "required": true
          },
          {
            "in": "query",
            "name": "include",
            "description": "Specify related data to side load.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "users"
              ]
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of attendance schedules",
            "schema": {
              "type": "object",
              "properties": {
                "attendance_schedules": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AttendanceSchedule"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "attendance_schedules"
        ],
        "operationId": "getV2OrganizationsOrganizationIdAttendanceSchedules"
      },
      "post": {
        "summary": "Create attendance schedule",
        "description": "Creates an expected work shift for a user.\n\nReturns the created attendance schedule.\n\nFor repeating schedules, specify repeat_schedule (weekly/bi_weekly) and weekdays. Use repeat_until to set an end date. Use excluded_dates to skip specific dates.\n",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "name": "postV2OrganizationsOrganizationIdAttendanceSchedules",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postV2OrganizationsOrganizationIdAttendanceSchedules"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "attendance schedule created",
            "schema": {
              "type": "object",
              "properties": {
                "attendance_schedule": {
                  "$ref": "#/definitions/AttendanceSchedule"
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "attendance_schedules"
        ],
        "operationId": "postV2OrganizationsOrganizationIdAttendanceSchedules"
      }
    },
    "/v2/organizations/{organization_id}/attendance_shifts": {
      "get": {
        "summary": "List organization attendance shifts",
        "description": "Returns actual work shifts (clock-in/clock-out records) for the given organization.\n\nUse date[start] and date[stop] to filter shifts that fall within the specified date range.\n\nNote: The maximum allowed difference between date[start] and date[stop] is 31 days.\nData is only available within organization’s retention period.\nIf date[start] falls outside this window, the request will fail.\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "query",
            "name": "page_start_id",
            "description": "The page start ID.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "required": false
          },
          {
            "in": "query",
            "name": "page_limit",
            "description": "The default page size",
            "type": "integer",
            "format": "int32",
            "default": null,
            "required": false
          },
          {
            "in": "query",
            "name": "date[start]",
            "description": "Start date (ISO 8601)",
            "type": "string",
            "format": "date",
            "required": true
          },
          {
            "in": "query",
            "name": "date[stop]",
            "description": "Stop date (ISO 8601, Inclusive)",
            "type": "string",
            "format": "date",
            "required": true
          },
          {
            "in": "query",
            "name": "include",
            "description": "Specify related data to side load.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "users",
                "attendance_schedules"
              ]
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of attendance shifts",
            "schema": {
              "type": "object",
              "properties": {
                "attendance_shifts": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AttendanceShift"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "403": {
            "description": "API access is only for organizations on an active plan",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "404": {
            "description": "Could not find record",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "schema": {
              "$ref": "#/definitions/Hubstaff_Public_V2_Entities_Error"
            }
          }
        },
        "tags": [
          "attendance_shifts"
        ],
        "operationId": "getV2OrganizationsOrganizationIdAttendanceShifts"
      }
    },
    "/v2/organizations/{organization_id}/budget_histories": {
      "get": {
        "summary": "List organization budget histories",
        "description": "Returns budget configuration history (changes to budget settings over time) for the given organization.\n\nThe project_ids and client_ids filters are processed as a complete set.\n\n- If project_ids 1,2,3 and client_ids 4,5,6 are provided then all budget histories for those\nproject and clients will be returned.\n- If only project_ids 1,2,3 (no client_ids filter) are provided then only budget histories for\nthose projects will be returned (no client budgets at all).\n- If only client_ids 1,2,3 (no project_ids filter) are provided then only budget histories for\nthose clients will be returned (no project budgets at all).\n\nFurther resource may be specified to restrict only returning budget histories for either projects\nor clients.\nThe resource filter is combined with the project_ids/client_ids filters thus\n- If only project_ids is provided and resource = 'client' then no records will be returned\n\nThe start_date filters only apply to the starting date of the start_date of the budget history records.\nThus to fetch only budget histories for this month for all projects specify this filter\n- resource=project and start_date[start]=2026-04-01\n\n",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "organization_id",
            "type": "integer",
            "format": "int32",
            "required": true
          },
          {
            "in": "query",
            "name": "page_start_id",
            "description": "The page start ID.",
            "type": "integer",
            "format": "int32",
            "default": 0,
            "required": false
          },
          {
            "in": "query",
            "name": "page_limit",
            "description": "The default page size",
            "type": "integer",
            "format": "int32",
            "default": null,
            "required": false
          },
          {
            "in": "query",
            "name": "project_ids",
            "description": "List of project IDs",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "client_ids",
            "description": "List of client IDs",
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "resource",
            "description": "Only return budgets for this resource type",
            "type": "string",
            "enum": [
              "project",
              "client"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "start_date[start]",
            "description": "Include budget histories with a start date on or after this date (ISO 8601)",
            "type": "string",
            "format": "date",
            "required": false
          },
          {
            "in": "query",
            "name": "start_date[stop]",
            "description": "Include budget histories with a start date on or before this date (ISO 8601)",
            "type": "string",
            "format": "date",
            "required": false
          },
          {
            "in": "query",
            "name": "include",
            "description": "Specify related data to side load.",
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "clients",
                "projects"
              ]
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "A list of budget histories",
            "schema": {
              "type": "object",
              "properties": {
                "budget_histories": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/BudgetHistory"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "schema": {
[...]
